# Read Study Tables

In [1]:
import pandas as pd
import glob

# path to the TPRDB
TPRDBpath = "/data/critt/tprdb/TPRDB/"

def readTPDDBtables(studies, t):
    df = pd.DataFrame()
    for study in studies:
        for fn in glob.glob(TPRDBpath + study + t):
            df = pd.concat([df, pd.read_csv(fn, sep="\t", dtype=None)], ignore_index=True)
        
    return(df)

In [2]:
# read all tables of a study for User P05

study = ["CS19/Tables/"]
STdf = readTPDDBtables(study, "P05*.st")
TTdf = readTPDDBtables(study, "P05*.tt")

In [4]:
STdf.to_csv('P05_ST.csv', sep='\t', index=None, encoding='utf-8')
TTdf.to_csv('P05_TT.csv', sep='\t', index=None, encoding='utf-8')

In [142]:
#STdf.iloc[:20,:]
STdf[(STdf.STseg < 3)][['SToken','Study','STseg']]

            SToken Study  STseg
0        Sociology  CS19      1
1               is  CS19      1
2                a  CS19      1
3       relatively  CS19      1
4              new  CS19      1
5         academic  CS19      1
6       discipline  CS19      1
7                .  CS19      1
8               It  CS19      2
9          emerged  CS19      2
10              in  CS19      2
11             the  CS19      2
12           early  CS19      2
13              19  CS19      2
14              th  CS19      2
15         century  CS19      2
16              in  CS19      2
17        response  CS19      2
18              to  CS19      2
19             the  CS19      2
20      challenges  CS19      2
21              of  CS19      2
22       modernity  CS19      2
23               .  CS19      2
139            The  CS19      1
140       majority  CS19      1
141             of  CS19      1
142         hunter  CS19      1
143              -  CS19      1
144       gatherer  CS19      1
..             ...   ...    ...
765    development  CS19      1
766              .  CS19      1
767     Incentives  CS19      2
768           must  CS19      2
769             be  CS19      2
770        offered  CS19      2
771             to  CS19      2
772      encourage  CS19      2
773     developing  CS19      2
774      countries  CS19      2
775             to  CS19      2
776             go  CS19      2
777            the  CS19      2
778          extra  CS19      2
779          green  CS19      2
780           mile  CS19      2
781            and  CS19      2
782      implement  CS19      2
783          clean  CS19      2
784   technologies  CS19      2
785              ,  CS19      2
786            and  CS19      2
787          could  CS19      2
788           also  CS19      2
789           help  CS19      2
790       minimise  CS19      2
791      emissions  CS19      2
792           from  CS19      2
793  deforestation  CS19      2
794              .  CS19      2

[210 rows x 3 columns]

# Dictionary for all text tokens for Source Text

In [131]:
P05_ST_map = {}
for text_name in text_names:
    P05_ST_map.setdefault(text_name,[])
for key in list(P05_ST_map.keys()):
    
    P05_ST_map[key] = [STdf[(STdf.STseg == i) & (STdf.Task == key[0]) & (STdf.Text == int(key[1]))]['SToken'].tolist()  
                   for i in set(STdf['STseg'])]

In [136]:
P05_ST_map['H1']

[['Killer', 'nurse', 'receives', 'four', 'life', 'sentences'],
 ['Hospital',
  'nurse',
  'Colin',
  'Norris',
  'was',
  'imprisoned',
  'for',
  'life',
  'today',
  'for',
  'the',
  'killing',
  'of',
  'four',
  'of',
  'his',
  'patients',
  '.'],
 ['32',
  'year',
  'old',
  'Norris',
  'from',
  'Glasgow',
  'killed',
  'the',
  'four',
  'women',
  'in',
  '2002',
  'by',
  'giving',
  'them',
  'large',
  'amounts',
  'of',
  'sleeping',
  'medicine',
  '.'],
 ['Yesterday',
  ',',
  'he',
  'was',
  'found',
  'guilty',
  'of',
  'four',
  'counts',
  'of',
  'murder',
  'following',
  'a',
  'long',
  'trial',
  '.'],
 ['He',
  'was',
  'given',
  'four',
  'life',
  'sentences',
  ',',
  'one',
  'for',
  'each',
  'of',
  'the',
  'killings',
  '.'],
 ['He', 'will', 'have', 'to', 'serve', 'at', 'least', '30', 'years', '.'],
 ['Police',
  'officer',
  'Chris',
  'Gregg',
  'said',
  'that',
  'Norris',
  'had',
  'been',
  'acting',
  'strangely',
  'around',
  'the',
  'hospital',
  '.'],
 ['Only',
  'the',
  'awareness',
  'of',
  'other',
  'hospital',
  'staff',
  'put',
  'a',
  'stop',
  'to',
  'him',
  'and',
  'to',
  'the',
  'killings',
  '.'],
 ['The',
  'police',
  'have',
  'learned',
  'that',
  'the',
  'motive',
  'for',
  'the',
  'killings',
  'was',
  'that',
  'Norris',
  'disliked',
  'working',
  'with',
  'old',
  'people',
  '.'],
 ['All',
  'of',
  'his',
  'victims',
  'were',
  'old',
  'weak',
  'women',
  'with',
  'heart',
  'problems',
  '.'],
 ['All',
  'of',
  'them',
  'could',
  'be',
  'considered',
  'a',
  'burden',
  'to',
  'hospital',
  'staff',
  '.']]

# Dictionary for all text tokens for Target Text

In [134]:
P05_TT_map = {}
for text_name in text_names:
    P05_TT_map.setdefault(text_name,[])
for key in list(P05_TT_map.keys()):
    
    P05_TT_map[key] = [TTdf[(TTdf.TTseg == i) & (TTdf.Task == key[0]) & (TTdf.Text == int(key[1]))]['TToken'].tolist()  
                   for i in set(TTdf['TTseg'])]

In [135]:
P05_TT_map['H1']

[['Killer', 'nurse', 'was', 'awarded', '4', 'life', 'sentences'],
 ['Colin',
  'Norris',
  ',',
  'the',
  'hospital',
  'nurse',
  'was',
  'imprisoned',
  'for',
  'life',
  'today',
  'for',
  'killer',
  '4',
  'of',
  'her',
  'patients',
  '.'],
 ['Norris',
  ',',
  '32',
  'from',
  'Glasgow',
  'had',
  'killed',
  'the',
  '4',
  'women',
  'in',
  '2002',
  'by',
  'giving',
  'them',
  'high',
  'doses',
  'of',
  'sleeping',
  'pills',
  '.'],
 ['Yesterday',
  ',',
  'he',
  'was',
  'found',
  'guilty',
  'of',
  'all',
  'the',
  '4',
  'counts',
  'of',
  'murder',
  'after',
  'a',
  'long',
  'trial',
  'and'],
 ['was',
  'awarded',
  '4',
  'life',
  'sentences',
  ',',
  'one',
  'for',
  'killing',
  'each',
  'woman',
  '.'],
 ['He',
  'has',
  'to',
  'serve',
  'at',
  'least',
  '30',
  'years',
  'in',
  'prison',
  '.'],
 ['Police',
  'officer',
  'Ghris',
  'Gregg',
  'said',
  'that',
  'Norris',
  'had',
  'been',
  'acting',
  'strangely',
  'in',
  'the',
  'hospital',
  'and'],
 ['it',
  'was',
  'only',
  'because',
  'of',
  'the',
  'vigillant',
  'hospital',
  'staff',
  'that',
  'these',
  'killings',
  'were',
  'put',
  'to',
  'stop',
  '.'],
 ['According',
  'to',
  'police',
  ',',
  'the',
  'motive',
  'behind',
  'the',
  'killings',
  'were',
  'that',
  'Norris',
  'did',
  'not',
  'like',
  'working',
  'with',
  'old',
  'people',
  '.'],
 ['All',
  'of',
  'his',
  'victims',
  'were',
  'women',
  'who',
  'were',
  'old',
  ',',
  'weak',
  'and',
  'with',
  'heart',
  'problems',
  'and'],
 ['all',
  'of',
  'them',
  'could',
  'be',
  'considered',
  'as',
  'a',
  'burden',
  'to',
  'the',
  'hospital',
  'staff',
  '.']]

In [95]:
i=1
STdf[(STdf.STseg == 1) & (STdf.Task == 'H') & (STdf.Text == i)]['SToken'].tolist()

['Killer', 'nurse', 'receives', 'four', 'life', 'sentences']

In [65]:
TTdf.iloc[:20,:]

,Id,TTseg,Study,Session,SL,TL,Task,Text,Part,TToken,...,TrtS,FixT,FPDurT,TrtT,InEff,Yawat,Edit,HTra,HSeg,HCross
0,1,1,CS19,P05_C5,en,en,C,5,P05,Sociology,...,2355,6,308,1627,0.90,---,Sociology,0.9913,0.9913,2.1997
1,2,1,CS19,P05_C5,en,en,C,5,P05,is,...,0,1,167,167,1.00,---,_is,0.8905,0.8905,1.2389
2,3,1,CS19,P05_C5,en,en,C,5,P05,a,...,0,0,0,0,1.00,---,_a,1.2957,0.9612,1.6143
3,4,1,CS19,P05_C5,en,en,C,5,P05,relatively,...,1955,2,543,543,1.00,---,_relatively,1.3143,1.3143,1.6143
4,5,1,CS19,P05_C5,en,en,C,5,P05,new,...,0,1,342,342,1.00,---,_new,1.4885,1.1401,1.1401
5,6,1,CS19,P05_C5,en,en,C,5,P05,academic,...,1820,0,0,0,1.00,---,_academic,2.3535,0.9913,2.4997
6,7,1,CS19,P05_C5,en,en,C,5,P05,discipline,...,4986,2,426,685,0.91,---,discipline,2.1416,1.3347,1.9878
7,8,1,CS19,P05_C5,en,en,C,5,P05,.,...,0,0,0,0,1.00,---,_.,0.9957,0.9957,1.5734
8,9,2,CS19,P05_C5,en,en,C,5,P05,It,...,0,1,351,351,1.00,---,_It,1.8920,1.2389,1.8920
9,10,2,CS19,P05_C5,en,en,C,5,P05,emerged,...,2179,1,167,167,1.00,---,_emerged,2.1920,1.2389,1.7381
10,11,2,CS19,P05_C5,en,en,C,5,P05,in,...,0,0,0,0,1.00,---,_in,0.9612,0.9612,1.2957
11,12,2,CS19,P05_C5,en,en,C,5,P05,the,...,1837,0,0,0,1.00,---,_the,0.9612,0.9612,1.6143
12,13,2,CS19,P05_C5,en,en,C,5,P05,early,...,0,0,0,0,1.00,---,_early,1.2957,1.2957,1.6143
13,14,2,CS19,P05_C5,en,en,C,5,P05,19,...,142,1,451,451,0.67,---,19,1.7381,1.5262,2.0382
14,15,2,CS19,P05_C5,en,en,C,5,P05,th,...,0,0,0,0,1.00,---,_th,1.7381,1.5262,2.0382
15,16,2,CS19,P05_C5,en,en,C,5,P05,century,...,1970,0,0,0,1.00,---,_century,1.2389,1.2389,2.0382
16,17,2,CS19,P05_C5,en,en,C,5,P05,in,...,0,0,0,0,1.00,---,_in,1.5734,0.9957,1.2957
17,18,2,CS19,P05_C5,en,en,C,5,P05,response,...,2137,2,293,744,1.00,---,_response,1.8920,0.9957,1.6143
18,19,2,CS19,P05_C5,en,en,C,5,P05,to,...,269,0,0,0,1.00,---,_to,1.2957,0.9612,1.9143
19,20,2,CS19,P05_C5,en,en,C,5,P05,the,...,1303,0,0,0,1.00,---,_the,0.9612,0.9612,1.2389

## Inspecting the Data Frame

In [19]:
# print shape of the dataframe
print("study:{} has {} words (rows) and each word has {} features (columns)".format(study, STdf.shape[0], STdf.shape[1]))

study:['CS19/Tables/'] has 11011 words (rows) and each word has 66 features (columns)

In [20]:
# 
print("The source texts have {} different tokens and {} different lemmas and a token/lemma ratio: {:.2}".format(len(set(STdf.SToken)), len(set(STdf.Lemma)), len(set(STdf.Lemma)) / len(set(STdf.SToken))))

The source texts have 433 different tokens and 408 different lemmas and a token/lemma ratio: 0.94

In [14]:
# how to select colomuns from the DataFrame
df1 = STdf["SToken"]
#df1 = STdf[["HTra", "Dur","Ins","Del","Task"]]

df1.head()

0      Killer
1       nurse
2    receives
3        four
4        life
Name: SToken, dtype: object

In [15]:
# select columns and rows
df1 = STdf[(STdf.Dur > 10)][["SToken", "TGroup", "Dur","Ins","Del","Task"]]
#df1 = STdf[((df.Dur > 10) & (df.Del > 1))][["SToken", "TGroup", "Dur","Ins","Del","Task"]]

df1.head()

     SToken    TGroup   Dur  Ins  Del Task
0    Killer    Killer  4188    7    1    C
1     nurse     nurse  1094    6    0    C
2  receives  receives  1703    9    0    C
3      four      four  1625    6    1    C
4      life      life   860    5    0    C

In [24]:
# extract all data for P05
STp05 = STdf[STdf.Part == "P05"]
STp05.head()
#STp01.size

,Id,STseg,Study,Session,SL,TL,Task,Text,Part,SToken,...,TrtT,InEff,Yawat,Edit,AltT,CountT,ProbT,HTra,HSeg,HCross
3388,1,1,CS19,P05_C5,en,en,C,5,P05,Sociology,...,1627,0.9,---,Sociology,3,10,0.7692,0.9913,0.9913,2.1997
3389,2,1,CS19,P05_C5,en,en,C,5,P05,is,...,167,1.0,---,_is,2,9,0.6923,0.8905,0.8905,1.2389
3390,3,1,CS19,P05_C5,en,en,C,5,P05,a,...,0,1.0,---,_a,3,7,0.5385,1.2957,0.9612,1.6143
3391,4,1,CS19,P05_C5,en,en,C,5,P05,relatively,...,543,1.0,---,_relatively,3,6,0.4615,1.3143,1.3143,1.6143
3392,5,1,CS19,P05_C5,en,en,C,5,P05,new,...,342,1.0,---,_new,4,8,0.6154,1.4885,1.1401,1.1401

In [75]:
# extract all data for P05
TTp05_H1 = TTdf.query('Task == "H" and Text == 1')# and TTdf.Task == "H"]
P05_H1_tokens = TTp05_H1[:]['TToken'].tolist()
P05_H1_tokens

['Killer',
 'nurse',
 'was',
 'awarded',
 '4',
 'life',
 'sentences',
 'Colin',
 'Norris',
 ',',
 'the',
 'hospital',
 'nurse',
 'was',
 'imprisoned',
 'for',
 'life',
 'today',
 'for',
 'killer',
 '4',
 'of',
 'her',
 'patients',
 '.',
 'Norris',
 ',',
 '32',
 'from',
 'Glasgow',
 'had',
 'killed',
 'the',
 '4',
 'women',
 'in',
 '2002',
 'by',
 'giving',
 'them',
 'high',
 'doses',
 'of',
 'sleeping',
 'pills',
 '.',
 'Yesterday',
 ',',
 'he',
 'was',
 'found',
 'guilty',
 'of',
 'all',
 'the',
 '4',
 'counts',
 'of',
 'murder',
 'after',
 'a',
 'long',
 'trial',
 'and',
 'was',
 'awarded',
 '4',
 'life',
 'sentences',
 ',',
 'one',
 'for',
 'killing',
 'each',
 'woman',
 '.',
 'He',
 'has',
 'to',
 'serve',
 'at',
 'least',
 '30',
 'years',
 'in',
 'prison',
 '.',
 'Police',
 'officer',
 'Ghris',
 'Gregg',
 'said',
 'that',
 'Norris',
 'had',
 'been',
 'acting',
 'strangely',
 'in',
 'the',
 'hospital',
 'and',
 'it',
 'was',
 'only',
 'because',
 'of',
 'the',
 'vigillant',
 'hospital',
 'staff',
 'that',
 'these',
 'killings',
 'were',
 'put',
 'to',
 'stop',
 '.',
 'According',
 'to',
 'police',
 ',',
 'the',
 'motive',
 'behind',
 'the',
 'killings',
 'were',
 'that',
 'Norris',
 'did',
 'not',
 'like',
 'working',
 'with',
 'old',
 'people',
 '.',
 'All',
 'of',
 'his',
 'victims',
 'were',
 'women',
 'who',
 'were',
 'old',
 ',',
 'weak',
 'and',
 'with',
 'heart',
 'problems',
 'and',
 'all',
 'of',
 'them',
 'could',
 'be',
 'considered',
 'as',
 'a',
 'burden',
 'to',
 'the',
 'hospital',
 'staff',
 '.']

In [ ]:
TTp05_H2 = TTdf.query('Part == "P05" and Task == "H" and Text == 2')
TTp05_H2.iloc[:20,:]

In [ ]:
TTp05_U3 = TTdf.query('Part == "P05" and Task == "U" and Text == 3')
TTp05_U3.iloc[:20,:]

In [ ]:
TTp05_U4 = TTdf.query('Part == "P05" and Task == "U" and Text == 4')
TTp05_U4.iloc[:20,:]

In [ ]:
TTp05_C5 = TTdf.query('Part == "P05" and Task == "C" and Text == 5')
TTp05_C5.iloc[:20,:]

In [ ]:
TTp05_C5 = TTdf.query('Part == "P05" and Task == "C" and Text == 6')
TTp05_C5.iloc[:20,:]

## Extracting segments from ST tables

In [25]:
# extract the list of ST tokens for text 1 and segment 1
STp05[(STp05.STseg == 1) & (STp05.Text == 1)]["SToken"].tolist()

['Killer', 'nurse', 'receives', 'four', 'life', 'sentences']

In [80]:
# extract all ST segments for the six source texts
# create a list : L[text][seg][word]
STl = []
STl = [[STp05[(STp05.Text == text) & (STp05.STseg == seg)]["SToken"].tolist()
         for seg in set(STp05["STseg"])] 
             for text in set(STp05["Text"])]
STl[2][2]

['His',
 'withdrawal',
 'comes',
 'in',
 'the',
 'wake',
 'of',
 'fighting',
 'flaring',
 'up',
 'again',
 'in',
 'Darfur',
 'and',
 'is',
 'set',
 'to',
 'embarrass',
 'China',
 ',',
 'which',
 'has',
 'sought',
 'to',
 'halt',
 'the',
 'negative',
 'fallout',
 'from',
 'having',
 'close',
 'ties',
 'to',
 'the',
 'Sudanese',
 'government',
 '.']

In [27]:
# extract all ST segments for the six source texts
# create a dictionary: H[text][seg][word]
STh = {}
for text in set(STp05["Text"]):
    STh[text] = [STp05[(STp05.Text == text) & (STp05.STseg == seg)]["SToken"].tolist()
         for seg in set(STp05["STseg"])] 
STh[1][0]

['Killer', 'nurse', 'receives', 'four', 'life', 'sentences']

## Tasks

In [28]:
# Compute perplexity of ST segments
# Load TT segments
# Compute perplexity of TT segments
# Compare perplexity of ST and TT segments
# produce dataFrame with columns

df = pd.DataFrame(columns=["Text","STseg","Mode","Part","STppKent","STppPort","STppSnow","STppWN","TTppKent","TTppPort","TTppSnow","TTppWN"])
df

Empty DataFrame
Columns: [Text, STseg, Mode, Part, STppKent, STppPort, STppSnow, STppWN, TTppKent, TTppPort, TTppSnow, TTppWN]
Index: []